<!DOCTYPE html> {%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='banner-vid'>
        <video playsinline autoplay muted loop>
            <source src="{% static 'images/video.mp4' %}" type="video/mp4">
        </video>


        <div class="overlay">
            <h2>Choose The Best Destination & Pursue Your Studies</h2>
        </div>


    </div>

</body>

</html>