<!DOCTYPE html> {% extends 'overseasApp/base.html' %} {% load crispy_forms_tags %} {% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry</title>
</head>

<body>
    {% block content %}
    <br><br><br><br>
    <div class='container d-flex justify-content-center'>
        <div>
            {% if messages %} {% for message in messages %}
            <div class="container">
                <strong class="alert alert-danger">{{ message }}</strong>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div> <br><br><br>
    <!-- form -->
    <div id='whole-div' class='container d-flex justify-content-center'>

        <div class='col-8 col-md-4'>
            <h1>Admin &nbsp; Login</h1>
            <h5></h5>
            <!-- <br> -->
            <small class="fw-bold">Please Login To before Proceeding!</small>
            <br><br>
            <form method="POST">
                {% csrf_token %}
                <div class='col-4' id='enquiry-fields'>
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" name="admin_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class='col-4' id='enquiry-fields'>
                    <label for="exampleInputEmail1" class="form-label">PassCode</label>
                    <input type="password" name="passcode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class='col-4' id='enquiry-fields'>

                </div>

                <div class='col-4' id='enquiry-fields'>

                </div>
                <br>
                <button type="submit" id="enq-btn" class="btn btn">Submit</button>
            </form>
        </div>
    </div>
    <!-- form end -->
    <br><br> {% endblock %}


</body>


</html>